/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
  background: var(--color-bg);
}

body::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background-color: var(--color-red);
}

body,
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-red) var(--color-bg);
}

.home {
  background-color: var(--color-bg);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  overflow: hidden;
  min-height: 0;

  & .home__grid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    & svg {
      width: 100%;
      height: 100%;
    }

    & line {
      stroke: var(--color-black);
      stroke-width: 0.2;
      transition: stroke-width 0.2s ease, stroke 0.3s ease;
    }

    & line:hover {
      stroke: var(--color-red);
    }
  }

  & .home__nav {
    background-color: var(--color-red);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    padding-bottom: 20px;
    padding-right: 5%;
    box-sizing: border-box;
    height: 100%;
    width: 25vw;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    z-index: 20;

    & .home__navButton {
      background-color: transparent;
      border: none;
      text-decoration: none;
      font-family: var(--font-aileron);
      font-weight: 700;
      font-size: 1.8vw;
      color: var(--color-black);
      cursor: pointer;
      transition: all linear 0.2s;
      &:hover {
        transform: scale(1.1);
      }
    }
    & .active {
      color: var(--color-bg);
    }
  }

  & .home__navMock {
    background-color: var(--color-red);
    width: 100vh;
    height: 200vw;
    position: fixed;
    right: 100vw;
    top: 0;
    transform-origin: top right;
  }

  & .home__navMock--expanded {
    animation: expandTriangle 0.5s ease-in-out forwards;
    animation-direction: alternate;
    animation-iteration-count: 2;
    z-index: 10;
  }

  & .home__section {
    position: absolute;
    bottom: 40vh;
    left: 35vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    font-family: var(--font-aileron);
    transform: translateY(10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    z-index: 5;

    & .home__title {
      font-size: 15vw;
      color: var(--color-red);
      pointer-events: none;
    }

    & .home__subTitle {
      color: var(--color-black);
      font-size: 2vw;
      margin-right: 15px;
      pointer-events: none;
      & b {
        font-weight: 700;
      }
    }
  }

  & .home__section--fadeOut {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    pointer-events: none;
  }

  & .content {
    background-color: var(--color-bg);
    z-index: 5;
    position: relative;
    & .content__navigationButton {
      background-color: transparent;
      position: absolute;
      top: 50%;
      border: none;
      height: fit-content;
      align-self: center;
      cursor: pointer;

      & :hover {
        transition: all linear 0.2s;
        transform: scale(1.2);
      }
    }
    & .right {
      right: 0;
    }
  }

  & .home__content {
    background-color: var(--color-bg);
    padding: 20px;
    z-index: 5;
    border: 1px solid var(--color-black);
    flex: 1;
    height: 100vh;
    max-width: 75vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: none;
    padding: 20px 50px;

    & .home__contentTitle {
      font-size: 3vw;
      font-weight: 700;
      color: var(--color-red);
      font-family: var(--font-aileron);
    }

    & .home__contentContainer {
      display: flex;
      gap: 10px;
      flex: 1;
      min-height: 0;

      & .content__content {
        color: var(--color-black);
        font-family: var(--font-aileron);
        border: 1px solid var(--color-red);
        padding: 10px;
        padding-top: 0;
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;

        & h2 {
          padding: 10px 0;
          font-size: 20px;
          font-weight: 700;
          position: sticky;
          top: 0;
          background-color: var(--color-bg);
        }

        & .content__text {
          text-align: justify;
          font-size: 18px;
          & b {
            font-weight: 700;
          }
          & i {
            font-style: italic;
          }
          & a {
            color: var(--color-red);
          }
          & em {
            font-style: italic;
            font-size: 16px;
          }
        }
      }
    }

    & .content__reference {
      font-family: var(--font-aileron);
      & b {
        font-weight: 700;
      }
      & i {
        font-style: italic;
      }
      & a {
        color: var(--color-red);
      }
    }

    & a {
      color: var(--color-red);
      font-family: var(--font-aileron);
      text-decoration: none;
    }
  }

  & .home__footer {
    z-index: 99;
    position: absolute;
    right: 10px;
    bottom: 5px;
    box-sizing: border-box;
    & .home__footerButton {
      transition: all linear 0.2s;
      background-color: transparent;
      border: none;
      text-decoration: none;
      font-size: 2em;
      color: var(--color-black);
      cursor: pointer;
      &:hover {
        color: var(--color-red);
      }
    }
  }
}

.about {
  position: fixed;
  bottom: 0;
  right: 0;
  top: auto;
  left: auto;
  width: 0;
  height: 0;
  background-color: transparent;
  transition: width 0.8s ease, height 0.8s ease, bottom 0.8s ease,
    right 0.8s ease, top 0.8s ease, left 0.8s ease, background-color 0.4s ease,
    opacity 0.3s ease, visibility 0.3s ease;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  font-family: var(--font-aileron);

  & .about__title {
    font-size: 3em;
    color: var(--color-red);
    font-weight: 700;
    align-self: flex-start;
  }

  & .about__introSection {
    display: flex;
    gap: 10%;

    & .about__introContent {
      display: flex;
      flex-direction: column;
      gap: 40px;
      & .about__intro {
        font-size: 1.3em;
        text-align: justify;
        color: var(--color-black);
      }
    }
    & .about__image {
      object-fit: cover;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      max-height: 30vh;
    }
  }

  .about__section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .about__sectionTitle {
      color: var(--color-red);
      font-weight: 700;
      font-size: 1.9em;
    }
    .about__SectionContent {
      font-size: 1.2em;
      color: var(--color-black);
    }
  }
  .about__contact {
    position: absolute;
    bottom: 5px;
    left: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & .about__contactContainer {
      display: flex;
      align-items: center;
      gap: 10px;
      & img {
        width: 30px;
        height: 30px;
      }
      & a {
        background-color: transparent;
        font-family: var(--font-aileron);
        border: none;
        color: var(--color-black);
        font-weight: 700;
        font-size: 1.1em;
        cursor: pointer;
        transition: all linear 0.1s;
        text-decoration: none;
        height: 100%;
        & svg {
          transition: all ease 0.2s;
          color: #0077b7;
          &:hover {
            color: var(--color-red);
          }
        }
        &:hover {
          color: var(--color-red);
        }
      }
    }
  }
}

.closeButton {
  position: fixed;
  top: 20px;
  right: 20px;
  color: var(--color-black);
  z-index: 99999999;
  background-color: transparent;
  border: none;
  font-size: 2em;
  cursor: pointer;
  transition: all ease 0.2s;
  visibility: visible;
  opacity: 1;
  &.hidden {
    visibility: hidden;
    opacity: 0;
  }
  &:hover {
    color: var(--color-red);
  }
}

.about.--open {
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  top: auto;
  left: auto;
  background-color: var(--color-bg);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10% 10%;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .home {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

    .home__section {
      position: static;
      left: 0;
      bottom: 0;
      transform: none;
      height: 100%;
      align-items: flex-start;
      justify-content: center;
      padding: 20px 10px 0 10px;
      gap: 10px;

      .home__title {
        font-size: 20vw;
      }
      .home__subTitle {
        font-size: 5vw;
        align-self: flex-end;
      }
    }

    .home__nav {
      width: 100vw;
      min-width: 0;
      max-width: 100vw;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;
      padding: 10px 10px 0 10px;
      height: auto;
      clip-path: unset;

      .home__navButton {
        font-size: 5vw;
        padding: 5px 10px;
      }
    }

    .home__content {
      max-width: 100vw;
      height: auto;
      min-height: 0;
      padding: 10px 5vw;
      border: none;
      gap: 10px;

      .home__contentTitle {
        font-size: 4vw;
      }
      .home__contentContainer {
        flex-direction: column;
        gap: 10px;
        overflow-y: auto;
        max-height: calc(60vh - 2em);

        .content__content {
          font-size: 16px;
        }
      }
    }

    .content {
      max-height: calc(100vh - 90px);
      overflow-y: scroll;
      overflow-x: hidden;
      .content__navigationButton {
        position: fixed;
        top: calc(100% - 10px);
        bottom: 0;
        margin: 10px 0;
        z-index: 99;
      }
    }

    .home__grid.disabled {
      display: none;
    }

    .home__footer {
      position: fixed;
      bottom: 0;
      right: 0;
      text-align: center;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-bg);
      z-index: 0;
    }
    .about.--open {
      padding: 20px 5vw;
      gap: 10px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      box-sizing: border-box;
      top: 0;
      height: calc(100vh - 39px);

      .about__title {
        font-size: 2em;
        text-align: center;
      }

      .about__introSection {
        flex-direction: column;
        gap: 20px;

        .about__image {
          max-width: 40vw;
          width: 100%;
          height: auto;
          aspect-ratio: 1 / 1;
          align-self: center;
          order: -1;
          border-radius: 50%;
          object-fit: cover;
          display: block;
        }

        .about__introContent {
          gap: 20px;
          .about__intro {
            font-size: 1em;
          }
        }
      }

      .about__section {
        gap: 8px;
        .about__sectionTitle {
          font-size: 1.2em;
        }
        .about__SectionContent {
          font-size: 1em;
        }
      }

      .about__contact {
        position: static;
        left: 0;
        bottom: 0;
        gap: 10px;

        .about__contactContainer {
          gap: 8px;
          img {
            width: 24px;
            height: 24px;
          }
          a {
            font-size: 1em;
          }
        }
      }
    }
  }
}

@keyframes expandTriangle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-90deg);
  }
}
